@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.clothes__title {
    text-align: center;
    padding: 2em 0;
}

.clothes__img img {
    max-width: 100%;
    width: 330px;
    height: auto;
}

.clothes__img__1 {
    background: url(./images/shirt-print.jpeg) top center;
    background-size: cover;
    height: 500px;
    width: 350px;
}

.clothes__img__1:hover>.box__info {
    display: block;
}

.clothes__img__2:hover>.box__info {
    display: block;
}

.clothes__img__3:hover>.box__info {
    display: block;
}

.clothes__img__2 {
    background: url(./images/men-shirt.jpeg) top center;
    background-size: cover;
    height: 500px;
    width: 350px;
}

.clothes__img__3 {
    background: url(./images/hoodie.jpeg) top center;
    background-size: cover;
    height: 500px;
    width: 350px;
}

.box__info {
    display: none;
    cursor: pointer;
    margin: 0 4em;
    color: #fff;
    padding: 1em 2em;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    transform: translateY(230px);
}

.box__info a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.clothes {
    padding: 5em 0;
}

.clothes__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clothes__item {
    max-width: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.clothes__item:hover {
    background: #fafaf9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.clothes__text a {
    text-decoration: none;
    color: #000;
}

.clothes__text a:hover {
    text-decoration: underline;
}

.clothes__text {
    margin: 2em;
}

.clothes__cost {
    font-size: 12px;
    padding: 0.5em 0 0 0;
}

@media(max-width: 1025px) {
    .clothes__list {
        flex-direction: column;
    }
    .clothes__item {
        width: 330px;
    }
}