* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.summer__section {
    background: url(../images/summer-bg.jpg);
    padding: 20em;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
}

.summer__section__text {
    position: absolute;
    top: 200px;
    left: 700px;
}

.summer__section__btn {
    position: absolute;
    top: 420px;
    left: 700px;
}

.summer__section__btn button {
    padding: 1em 2em;
    border-radius: 2px;
    border: none;
    /* box-shadow: 0 0 5px #000; */
    cursor: pointer;
    background: #1f373d;
    color: #fff;
    text-transform: uppercase;
}


/* медиа запросы для текста */

@media(max-width: 1200px) {
    .summer__section__text {
        left: 600px;
    }
}

@media(max-width: 1000px) {
    .summer__section__text {
        left: 400px;
    }
}

@media(max-width: 767px) {
    .summer__section__text {
        left: 270px;
    }
}

@media(max-width: 530px) {
    .summer__section__text {
        left: 200px;
    }
}

@media(max-width: 767px) {
    .summer__section__text h1 {
        font-size: 36px;
    }
}


/* медиа запросы для кнопки  */

@media(max-width: 1200px) {
    .summer__section__btn {
        left: 600px;
    }
}

@media(max-width: 1000px) {
    .summer__section__btn {
        left: 400px;
    }
}

@media(max-width: 767px) {
    .summer__section__btn {
        left: 270px;
    }
}

@media(max-width: 530px) {
    .summer__section__btn {
        left: 200px;
    }
}

@media(max-width: 472px) {
    .summer__section__btn {
        left: 200px;
        top: 500px;
    }
}

.summer__section__text h1 {
    font-size: 48px;
    font-weight: normal;
}

.summer__section__text p {
    font-size: 14px;
}